body {
  background-color: white;
}


.container.bandprofile {
  margin-top: 20px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
}

.container.bandprofile img{
  margin: 20px;
  height: 300px;
  width: 100%;
  object-fit: cover;
  justify-content: center;
}

.profile-item {
  margin: 20px;
}
