<div class="row container">

<h1>edit booking</h1>


<%= simple_form_for [@band, @booking] do |f| %>
  <%= f.input :start_date, class: "form-group"  %>
  <%= f.input :end_date, class: "form-group"  %>


  <%= f.submit %>
<% end %>


</div>
