<div class="flex-container">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="flex-item band align-items-center justify-content flex-row">
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2F736x%2Fc3%2F6a%2F40%2Fc36a408f5b721d49a6c72a274f6d44ef--rock-bands-gospel.jpg&f=1&nofb=1" %>
        <% end %>
        <div class="flex-item title">
          <h1 class="uvp">Rent A Band</h1>
          <p class="tagline">Find the best band for every event</p>
        </div>
    </div>
    <div class="flex-item login">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to "Login", "", class: "nav-link" %>
            </li>
        </ul>
      </div>
    </div>
   </div>
</div>




