<div class="start-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1508854710579-5cecc3a9ff17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
</div>

<div class="text-center">
<h2> We found some cool artists for you!</h2>
</div>


<div class="container">
   <div class="row">
  <% @bands.each do |band| %>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="band-card flex-item">
          <img src= 'https://images.unsplash.com/photo-1483393458019-411bc6bd104e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80'/>
           <div class="card-infos">
            <p><strong><%= band.name %></strong></p>
            <p><%= band.description %></p>
            <%= link_to 'Show', band, class: "btn btn-warning" %>
          </div>
        </div>
    </div>
      <% end %>
  </div>

</div>



</div>
