.band-card{
  margin: 10px;
  overflow: hidden;                      /* White background */
  padding: 30px;                             /* Internal space */
}

.bandindex-card{
  margin: -5px;
  overflow: hidden;                      /* White background */
  padding: 20px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin-bottom: 25px;
  img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }                            /* Internal space */
}


.band-name {
  color: #ec973c;
    font-weight: bold;
}

.band-card img{
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card-info h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-info p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  margin-bottom: 15px;
}

.card-category {
  border: #ec973c solid 3px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.row.band {

}

.band-card .card-infos-fee {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}


.card-trip {
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    border-radius: 4px;
  overflow: hidden;
  background: white;
  border: #ec973c solid 3px;
  padding: 30px;
  margin: 10px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 14px;
  opacity: .8;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


